* {
    margin: 0%;
    padding: 0;
}

.backgroundImage {
   
    background-image: url("Medical.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vh;
    
}

body img {
    height: 80px;
    width: 150px;
}